<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Som el que estas buscant!</h2>
                <hr class="light">
                <p class="text-faded">Som un grup d'estudiants apassionats per aprendre noves tecnologies i crear esdeveniments. Volem que et sentis part de la comunitat i que coneixis altres persones amb qui comparteixes interessos. </p>
            </div>
        </div>
    </div>
</section>
